## BB project: ##

In [10]:
ID1: 318934502
ID2: 322835703
ID3: 212191639

name_student_1= 'Samuel Ali'
name_student_2= 'Sleman Jarar'
name_student_3= 'Alin Nabwani'

import pandas as pd
import numpy as np

data = pd.read_csv('Rankings.csv')
data

,Economy,globalRank,Rank within group,Starting a Business,Dealing with Construction Permits,Getting Electricity,Registering Property,Getting Credit,Protecting Minority Investors,Paying Taxes,Trading across Borders,Enforcing Contracts,Resolving Insolvency
0,New Zealand,1.0,1.0,1.0,7.0,48.0,2.0,1.0,3.0,9.0,63.0,23.0,36.0
1,Singapore,2.0,2.0,4.0,5.0,19.0,21.0,37.0,3.0,7.0,47.0,1.0,27.0
2,"Hong Kong SAR, China",3.0,3.0,5.0,1.0,3.0,51.0,37.0,7.0,2.0,29.0,31.0,45.0
3,Denmark,4.0,4.0,45.0,4.0,21.0,11.0,48.0,28.0,8.0,1.0,14.0,6.0
4,"Korea, Rep.",5.0,5.0,33.0,12.0,2.0,40.0,67.0,25.0,21.0,36.0,2.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,"Yemen, Rep.",187.0,187.0,156.0,186.0,187.0,86.0,186.0,162.0,89.0,188.0,143.0,159.0
187,"Venezuela, RB",188.0,188.0,190.0,175.0,174.0,145.0,132.0,170.0,189.0,188.0,150.0,165.0
188,Eritrea,189.0,189.0,185.0,186.0,187.0,178.0,186.0,185.0,153.0,188.0,107.0,168.0
189,Somalia,190.0,190.0,188.0,186.0,187.0,153.0,186.0,190.0,190.0,166.0,116.0,168.0
190,Liechtenstein*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN